
body {
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: white; 
    flex-direction:colum;
    text-align: center;
}

.back-fon{
    position: relative;
    display: flex;
    color: blue (190, 186, 186);
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    padding: 35px;px;
  }
.card {
    float: right;
    width: 600px;
    height: 250px;
    margin:30px 70px 0px 30px;
    border-radius: 40px;
    padding: 20px;
    box-shadow:
         inset 
         0 0  0 2px rgb(255,255,255),
         0.3em 0.3em 1em rgba(0,0,0,0.3);

  }
.child {
    display: flex;
    justify-content: center;
      
  }
.novolancamento {
    border-radius: 30px; 
  }
input {
border: none;
border-bottom: 03px solid gray;
}
  